.reservation-container {
  display: flex;
  min-height: 125px;
  min-width: 525px;
  margin: 10px 0px 10px 0px;
  border: 1px solid gray;
  border-radius: 10px;
}

.reservation-container:hover .reservation-cancel-button-container {
  display: flex;
}

.currentReservations-header {
  font-family: 'Roboto', 'Helvetica', 'Arial';
  font-size: 18px;
}

.reservation-dates-container {
  display: flex;
  width: 33%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.reservation-date {
  margin: 5px 0px 5px 0px;
  color: #2196f3;
  font-family: 'Roboto', 'Helvetica', 'Arial';
  font-size: 18px;
}

.reservation-room-container {
  display: flex;
  width: 33%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.reservation-cancel-button-container {
  display: none;
  width: 33%;
  justify-content: center;
  align-items: center;
}

.reservation-cancel-button {
  width: 80px;
  height: 80px;
}


